.body{
    box-sizing: border-box;
    
}

.container{
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: auto;
    gap: 5px;
    font-family: 'Fjalla One', sans-serif;
    /* border: 1px solid green; */
    padding-bottom: 10px;
    margin-bottom: 10px;
}



#submit_input_box{
    font-size: 20px;
    padding: 10px 20px;
}
#clear_input_box{
    font-size: 20px;
    padding: 10px 20px;
}
h1 {
    font-size: 40px;
}
h1, h2, h3 {
    text-align: center;
    font-weight: bolder;
}

h4 {
    background-color: black;
    color: white;
    padding: 10px;
}
.route_show {
    /* visibility: hidden; */
    background-color: black;
    color: white;
    padding: 20px 40px;
    
}

.route_show_hidden {
    /* font-size: 30px; */
    visibility: hidden;
}

.route_show_visible {
    visibility: visible;
    /* margin: auto; */
}